@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    background-image: url("../images/intro-trial.png");
    background-repeat:none;
    background-size:cover;
}


.img-intro-vector{
    height:34%;
    width:34%;
    margin-top:14%;
    margin-left:8%;
}

.btndisp1try{
    background-color:transparent;
    margin-left:80%;
}

.btndisp2try{
    background-color: transparent;
    margin-left: 80%;
}


