@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    background-image: url('../images/signupp-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.button-submit{
    display:flex;
    flex-direction: column;
    background-color: #233696;
    border-width: 0rem;
    color:white;
    border-radius:1rem;
    margin-top: 0.5rem;
    font-family: poppins;
    height:2rem;
    width:20%;
}

.input-login1{
    margin-top: 50rem;
}
.input-login2{
    margin-top:2rem;
}

.div-login{
    margin-top: 20%;
    margin-left: 70%;;
}

.username{
    margin-top: 0.5rem;
}
.password{
    margin-top: 0.5rem;
}

a{
    text-decoration: none;
    color:white;
}


label{
    font-family: poppins;
}

input{
    border-radius:0.5rem;
    height: 2rem;
}